<div class="content">
    <div class="header-logo">
        <img alt="Game Mania" src="assets/imagens/logo.png" width="60%" height="80%">
    </div>
    <div class="header-carrinho">
        <h5>Olá, faça seu login</h5>
        <img src="assets/imagens/carrinho.png" width="15%" height="15%">
        <h5>Carrinho</h5>
    </div>
</div>
<header>
    <nav id="menu">
        <a class="link_menu" href="inicio">Inicio</a>
        <a class="link_menu" href="#">Star Wars</a>
        <a class="link_menu" href="playstation">PlayStation</a>
        <a class="link_menu" href="#">XBox</a>
        <a class="link_menu" href="#">Nintendo</a>
        <a class="link_menu" href="#">Computadores</a>
        <a class="link_menu" href="#">Novidades</a>
        <a class="link_menu" href="contato">Contatos</a>
    </nav>
</header>